/.DS_Store
/.vs
frontend/src.zip
/.idea
/backend/RESTful API/bin/Debug
/backend/RESTful API/bin
backend/.idea
backend/RESTful API/obj
/backend/RESTful API/obj
/backend/RESTful API/obj/
*/.DS_Store
*.zip
.vscode/settings.json
.vs/
backend/RESTful API/appsettings.json
backend/RESTful API/.DS_Store
backend/RESTful API/appsettings.json
/Diagramas/DER/.vpprefdata
/Gemini
/backend/Tests/RESTful_API.Tests/bin
/backend/Tests/RESTful_API.Tests/obj
backend/RESTful API/appsettings.json
/backend/CarXpressTesteUnitario/bin/Debug
/backend/CarXpressTesteUnitario/obj
/backend/Tests/CarXPress Unit Tests/bin
/backend/Tests/CarXPress Unit Tests/obj
/backend/Tests/CarXPress Unit Tests/bin/Debug
/backend/Tests/CarXPress Unit Tests/bin/Debug
/backend/Tests/CarXPress Unit Tests/bin/Debug
/backend/Tests/CarXpressTesteIntegracao/obj
/backend/Tests/CarXpressTesteIntegracao/bin
backend/Tests/.DS_Store
backend/Tests/.DS_Store
/backend/Tests/CarXPress Unit Tests/.idea
backend/Tests/CarXPress Unit Tests/.DS_Store
